<?xml version="1.0" encoding="utf-8"?>
<Report>
  <Project Name="Infrastructure">
    <File Name="Infrastructure\AutoSubstitute.cs">
      <Line Number="6" Message="Class 'AutoSubstitute' is never used" Severity="SUGGESTION" Href="Infrastructure\AutoSubstitute.cs/6" />
    </File>
    <File Name="Infrastructure\NSubstituteHelper.cs">
      <Line Number="7" Message="Parameter 'task' is never used" Severity="SUGGESTION" Href="Infrastructure\NSubstituteHelper.cs/7" />
    </File>
    <File Name="Infrastructure\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="Infrastructure\Properties\AssemblyInfo.cs/2" />
    </File>
  </Project>
  <Project Name="PboConsole">
    <File Name="PboConsole\AutofacModule.cs">
      <Line Number="15" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\AutofacModule.cs/15" />
    </File>
    <File Name="PboConsole\Commands\ConsoleCore.cs">
      <Line Number="22" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/22" />
      <Line Number="25" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboConsole\Commands\ConsoleCore.cs/25" />
      <Line Number="30" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/30" />
      <Line Number="34" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/34" />
      <Line Number="48" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/48" />
      <Line Number="51" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboConsole\Commands\ConsoleCore.cs/51" />
      <Line Number="53" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/53" />
      <Line Number="56" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboConsole\Commands\ConsoleCore.cs/56" />
      <Line Number="65" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboConsole\Commands\ConsoleCore.cs/65" />
      <Line Number="67" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\ConsoleCore.cs/67" />
      <Line Number="70" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboConsole\Commands\ConsoleCore.cs/70" />
    </File>
    <File Name="PboConsole\Commands\PackConsoleCommand.cs">
      <Line Number="35" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/35" />
      <Line Number="40" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/40" />
      <Line Number="44" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/44" />
      <Line Number="51" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/51" />
      <Line Number="56" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/56" />
      <Line Number="59" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/59" />
      <Line Number="83" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\PackConsoleCommand.cs/83" />
    </File>
    <File Name="PboConsole\Commands\UnpackConsoleCommand.cs">
      <Line Number="35" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/35" />
      <Line Number="40" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/40" />
      <Line Number="49" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/49" />
      <Line Number="54" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/54" />
      <Line Number="57" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/57" />
      <Line Number="81" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Commands\UnpackConsoleCommand.cs/81" />
    </File>
    <File Name="PboConsole\Program.cs">
      <Line Number="10" Message="Class 'Program' is never instantiated" Severity="SUGGESTION" Href="PboConsole\Program.cs/10" />
      <Line Number="16" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Program.cs/16" />
      <Line Number="24" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Program.cs/24" />
      <Line Number="29" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Program.cs/29" />
      <Line Number="36" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Program.cs/36" />
      <Line Number="48" Message="Qualifier is missing" Severity="WARNING" Href="PboConsole\Program.cs/48" />
      <Line Number="50" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboConsole\Program.cs/50" />
    </File>
    <File Name="PboConsole\Services\ConsoleService.cs">
      <Line Number="6" Message="Class 'ConsoleService' is never instantiated" Severity="SUGGESTION" Href="PboConsole\Services\ConsoleService.cs/6" />
    </File>
  </Project>
  <Project Name="PboTools">
    <File Name="PboTools\Domain\PboHeaderEntry.cs">
      <Line Number="9" Message="Field 'BaseEntrySize' can be made private" Severity="SUGGESTION" Href="PboTools\Domain\PboHeaderEntry.cs/9" />
      <Line Number="29" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Domain\PboHeaderEntry.cs/29" />
      <Line Number="50" Message="Inconsistent body style: use expression-bodied property" Severity="SUGGESTION" Href="PboTools\Domain\PboHeaderEntry.cs/50" />
      <Line Number="55" Message="Inconsistent body style: use expression-bodied property" Severity="SUGGESTION" Href="PboTools\Domain\PboHeaderEntry.cs/55" />
      <Line Number="60" Message="Inconsistent body style: use expression-bodied property" Severity="SUGGESTION" Href="PboTools\Domain\PboHeaderEntry.cs/60" />
      <Line Number="65" Message="Inconsistent body style: use expression-bodied property" Severity="SUGGESTION" Href="PboTools\Domain\PboHeaderEntry.cs/65" />
    </File>
    <File Name="PboTools\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="PboTools\Properties\AssemblyInfo.cs/2" />
    </File>
    <File Name="PboTools\Service\IPboArchiverService.cs">
      <Line Number="12" Message="Only implementations of method 'GetPboInfo' are used" Severity="SUGGESTION" Href="PboTools\Service\IPboArchiverService.cs/12" />
    </File>
    <File Name="PboTools\Service\IPboInfoService.cs">
      <Line Number="14" Message="Only implementations of method 'CollectEntry' are used" Severity="SUGGESTION" Href="PboTools\Service\IPboInfoService.cs/14" />
    </File>
    <File Name="PboTools\Service\IPboPackService.cs">
      <Line Number="9" Message="Only implementations of method 'UnpackEntryAsync' are used" Severity="SUGGESTION" Href="PboTools\Service\IPboPackService.cs/9" />
    </File>
    <File Name="PboTools\Service\ITimestampService.cs">
      <Line Number="1" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="PboTools\Service\ITimestampService.cs/1" />
      <Line Number="9" Message="Only implementations of method 'SetTimestamp' are used" Severity="SUGGESTION" Href="PboTools\Service\ITimestampService.cs/9" />
    </File>
    <File Name="PboTools\Service\LzhService.cs">
      <Line Number="1" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="PboTools\Service\LzhService.cs/1" />
      <Line Number="11" Message="Name 'PacketFormatUncompressed' does not match rule 'Constant fields (private)'. Suggested name is 'packetFormatUncompressed'." Severity="WARNING" Href="PboTools\Service\LzhService.cs/11" />
      <Line Number="12" Message="Name 'Space' does not match rule 'Constant fields (private)'. Suggested name is 'space'." Severity="WARNING" Href="PboTools\Service\LzhService.cs/12" />
      <Line Number="43" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\LzhService.cs/43" />
      <Line Number="64" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\LzhService.cs/64" />
      <Line Number="89" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\LzhService.cs/89" />
    </File>
    <File Name="PboTools\Service\PboBinaryReader.cs">
      <Line Number="12" Message="Constructor 'PboBinaryReader' is never used" Severity="SUGGESTION" Href="PboTools\Service\PboBinaryReader.cs/12" />
      <Line Number="16" Message="Constructor 'PboBinaryReader' is never used" Severity="SUGGESTION" Href="PboTools\Service\PboBinaryReader.cs/16" />
      <Line Number="27" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\PboBinaryReader.cs/27" />
    </File>
    <File Name="PboTools\Service\PboBinaryWriter.cs">
      <Line Number="8" Message="Constructor 'PboBinaryWriter' is never used" Severity="SUGGESTION" Href="PboTools\Service\PboBinaryWriter.cs/8" />
      <Line Number="16" Message="Constructor 'PboBinaryWriter' is never used" Severity="SUGGESTION" Href="PboTools\Service\PboBinaryWriter.cs/16" />
    </File>
    <File Name="PboTools\Service\PboDiskService.cs">
      <Line Number="14" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\PboDiskService.cs/14" />
      <Line Number="34" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\PboDiskService.cs/34" />
      <Line Number="40" Message="Possible 'null' assignment to entity marked with 'NotNull' attribute" Severity="WARNING" Href="PboTools\Service\PboDiskService.cs/40" />
      <Line Number="44" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\PboDiskService.cs/44" />
      <Line Number="80" Message="Introduce optional parameter(s) for constructor 'InvalidFilenameException(string, ArgumentException)'" Severity="SUGGESTION" Href="PboTools\Service\PboDiskService.cs/80" />
    </File>
    <File Name="PboTools\Service\PboInfoService.cs">
      <Line Number="1" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="PboTools\Service\PboInfoService.cs/1" />
      <Line Number="25" Message="Use object initializer" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/25" />
      <Line Number="52" Message="Use object initializer" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/52" />
      <Line Number="79" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/79" />
      <Line Number="95" Message="Use explicit type (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/95" />
      <Line Number="144" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/144" />
      <Line Number="162" Message="Use object initializer" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/162" />
      <Line Number="176" Message="For-loop can be converted into foreach-loop" Severity="SUGGESTION" Href="PboTools\Service\PboInfoService.cs/176" />
      <Line Number="212" Message="Possible 'null' assignment to entity marked with 'NotNull' attribute" Severity="WARNING" Href="PboTools\Service\PboInfoService.cs/212" />
    </File>
    <File Name="PboTools\Service\PboPackService.cs">
      <Line Number="10" Message="Class 'PboPackService' has some virtual members but no inheritors" Severity="SUGGESTION" Href="PboTools\Service\PboPackService.cs/10" />
      <Line Number="28" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\PboPackService.cs/28" />
      <Line Number="48" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\PboPackService.cs/48" />
      <Line Number="64" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\PboPackService.cs/64" />
      <Line Number="82" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\PboPackService.cs/82" />
      <Line Number="88" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\PboPackService.cs/88" />
    </File>
    <File Name="PboTools\Service\TimestampService.cs">
      <Line Number="11" Message="Name 'Date1970' does not match rule 'Static readonly fields (private)'. Suggested name is 'date1970'." Severity="WARNING" Href="PboTools\Service\TimestampService.cs/11" />
      <Line Number="17" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/17" />
      <Line Number="20" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="PboTools\Service\TimestampService.cs/20" />
      <Line Number="20" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/20" />
      <Line Number="22" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/22" />
      <Line Number="30" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/30" />
      <Line Number="32" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/32" />
      <Line Number="35" Message="Qualifier is missing" Severity="WARNING" Href="PboTools\Service\TimestampService.cs/35" />
    </File>
  </Project>
  <Project Name="Test.PboConsole">
    <File Name="Test.PboConsole\Commands\ConsoleCoreTest.cs">
      <Line Number="18" Message="Method 'GetConsoleCore' can be made private" Severity="SUGGESTION" Href="Test.PboConsole\Commands\ConsoleCoreTest.cs/18" />
    </File>
    <File Name="Test.PboConsole\Commands\PackConsoleCommandTest.cs">
      <Line Number="44" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/44" />
      <Line Number="55" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/55" />
      <Line Number="69" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/69" />
      <Line Number="109" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/109" />
      <Line Number="130" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/130" />
      <Line Number="147" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\PackConsoleCommandTest.cs/147" />
    </File>
    <File Name="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs">
      <Line Number="44" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/44" />
      <Line Number="55" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/55" />
      <Line Number="69" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/69" />
      <Line Number="109" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/109" />
      <Line Number="130" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/130" />
      <Line Number="147" Message="Use explicit type (elsewhere)" Severity="SUGGESTION" Href="Test.PboConsole\Commands\UnpackConsoleCommandTest.cs/147" />
    </File>
    <File Name="Test.PboConsole\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="Test.PboConsole\Properties\AssemblyInfo.cs/2" />
    </File>
  </Project>
  <Project Name="Test.PboTools">
    <File Name="Test.PboTools\Domain\PboHeaderEntryTest.cs">
      <Line Number="64" Message="Use object initializer" Severity="SUGGESTION" Href="Test.PboTools\Domain\PboHeaderEntryTest.cs/64" />
      <Line Number="89" Message="Use object initializer" Severity="SUGGESTION" Href="Test.PboTools\Domain\PboHeaderEntryTest.cs/89" />
      <Line Number="101" Message="Use object initializer" Severity="SUGGESTION" Href="Test.PboTools\Domain\PboHeaderEntryTest.cs/101" />
      <Line Number="133" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Domain\PboHeaderEntryTest.cs/133" />
    </File>
    <File Name="Test.PboTools\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="Test.PboTools\Properties\AssemblyInfo.cs/2" />
    </File>
    <File Name="Test.PboTools\Service\LzhServiceTest.cs">
      <Line Number="38" Message="Qualifier is missing" Severity="WARNING" Href="Test.PboTools\Service\LzhServiceTest.cs/38" />
      <Line Number="39" Message="Qualifier is missing" Severity="WARNING" Href="Test.PboTools\Service\LzhServiceTest.cs/39" />
      <Line Number="53" Message="Possible 'null' assignment to entity marked with 'NotNull' attribute" Severity="WARNING" Href="Test.PboTools\Service\LzhServiceTest.cs/53" />
    </File>
    <File Name="Test.PboTools\Service\PboArchiverServiceTest.cs">
      <Line Number="134" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboArchiverServiceTest.cs/134" />
    </File>
    <File Name="Test.PboTools\Service\PboBinaryReaderTest.cs">
      <Line Number="9" Message="Method 'GetReader' can be made private" Severity="SUGGESTION" Href="Test.PboTools\Service\PboBinaryReaderTest.cs/9" />
    </File>
    <File Name="Test.PboTools\Service\PboDiskServiceTest.cs">
      <Line Number="21" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/21" />
      <Line Number="46" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/46" />
      <Line Number="67" Message="Method 'Test_CreateFile_Throws_If_Filename_Consists_Of_Spaces' is never used" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/67" />
      <Line Number="87" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/87" />
      <Line Number="95" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/95" />
      <Line Number="103" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/103" />
      <Line Number="121" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/121" />
      <Line Number="139" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/139" />
      <Line Number="162" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboDiskServiceTest.cs/162" />
    </File>
    <File Name="Test.PboTools\Service\PboInfoServiceTest.cs">
      <Line Number="33" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboInfoServiceTest.cs/33" />
      <Line Number="325" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboInfoServiceTest.cs/325" />
      <Line Number="335" Message="Use 'var' (built-in types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboInfoServiceTest.cs/335" />
      <Line Number="438" Message="Qualifier is missing" Severity="WARNING" Href="Test.PboTools\Service\PboInfoServiceTest.cs/438" />
      <Line Number="442" Message="Possible 'null' assignment to entity marked with 'NotNull' attribute" Severity="WARNING" Href="Test.PboTools\Service\PboInfoServiceTest.cs/442" />
    </File>
    <File Name="Test.PboTools\Service\PboPackServiceTest.cs">
      <Line Number="28" Message="Method 'GetService' can be made private" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/28" />
      <Line Number="55" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/55" />
      <Line Number="88" Message="Use 'var' (elsewhere)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/88" />
      <Line Number="101" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/101" />
      <Line Number="136" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/136" />
      <Line Number="155" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/155" />
      <Line Number="182" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/182" />
      <Line Number="209" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/209" />
      <Line Number="223" Message="Use 'var' (simple types)" Severity="SUGGESTION" Href="Test.PboTools\Service\PboPackServiceTest.cs/223" />
    </File>
    <File Name="Test.PboTools\Service\TimestampServiceTest.cs">
      <Line Number="20" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\TimestampServiceTest.cs/20" />
      <Line Number="55" Message="Use local function" Severity="SUGGESTION" Href="Test.PboTools\Service\TimestampServiceTest.cs/55" />
    </File>
  </Project>
  <Project Name="Test.Util">
    <File Name="Test.Util\AssertTest.cs">
      <Line Number="13" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/13" />
      <Line Number="21" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/21" />
      <Line Number="29" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/29" />
      <Line Number="49" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/49" />
      <Line Number="72" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/72" />
      <Line Number="93" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/93" />
      <Line Number="101" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/101" />
      <Line Number="135" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/135" />
      <Line Number="143" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/143" />
      <Line Number="193" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/193" />
      <Line Number="201" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/201" />
      <Line Number="209" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/209" />
      <Line Number="217" Message="Use local function" Severity="SUGGESTION" Href="Test.Util\AssertTest.cs/217" />
    </File>
    <File Name="Test.Util\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="Test.Util\Properties\AssemblyInfo.cs/2" />
    </File>
  </Project>
  <Project Name="Util">
    <File Name="Util\Assert.cs">
      <Line Number="8" Message="Parameter 'items' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/8" />
      <Line Number="16" Message="Parameter 'guid' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/16" />
      <Line Number="22" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/22" />
      <Line Number="28" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/28" />
      <Line Number="34" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/34" />
      <Line Number="40" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/40" />
      <Line Number="46" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/46" />
      <Line Number="52" Message="Parameter 'value' is only used for precondition check(s)" Severity="SUGGESTION" Href="Util\Assert.cs/52" />
      <Line Number="65" Message="Use pattern matching" Severity="SUGGESTION" Href="Util\Assert.cs/65" />
      <Line Number="69" Message="Use pattern matching" Severity="SUGGESTION" Href="Util\Assert.cs/69" />
    </File>
    <File Name="Util\NLogCultureInfo.cs">
      <Line Number="20" Message="Use pattern matching" Severity="SUGGESTION" Href="Util\NLogCultureInfo.cs/20" />
    </File>
    <File Name="Util\NLogModule.cs">
      <Line Number="13" Message="Use explicit type (simple types)" Severity="SUGGESTION" Href="Util\NLogModule.cs/13" />
      <Line Number="23" Message="Qualifier is missing" Severity="WARNING" Href="Util\NLogModule.cs/23" />
    </File>
    <File Name="Util\Properties\AssemblyInfo.cs">
      <Line Number="2" Message="Using directive is not required by the code and can be safely removed" Severity="WARNING" Href="Util\Properties\AssemblyInfo.cs/2" />
    </File>
  </Project>
</Report>